.navbar {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    height: 60px;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
  }
  
  .nav-links li {
    padding-right: 20px;
    height: 100%;
  }
  
  .nav-links li a {
    text-decoration: none;
    color: #fff;
  }
  
  .nav-links li :hover {
    color: #ffd700; 
    background-color: #505050;
  }
  